// Settings.
$config: (
	subordinate:		#DEDBD9,
	primary:			#0C2D46,
	accent:				#623030,
	body-focus:			#E1C6A2,

	max-length:			35em,

	animation:			0.25s,
	logo-font:			serif,
	width:				90%,
	max-width:			60em
);

$breakpoints: (
	tiny:				641px, //768+ ipad 640px normal
	small:				801px,
	medium:				961px,
	large:				1345px
);

// Reset.
@import "framework", "sass-web-fonts/web-fonts";

// Google fonts.
@include web-fonts(("Roboto": "300"), ("Roboto Slab": ("100", "400", "700")));

div#body > div, footer, header > div {
	@extend %centered;
	@extend %clearfix;
//	padding-top: 1.5em;
}
div#body {
	background-color: config(subordinate);
}

header {
	background: center center #fff url("/zaphod/images/hero.jpg") no-repeat;
	background-size: cover;
}

body {
	background-color: darken(config(subordinate),10%);
	color: config(primary);
	font: 1.0em/1.5 "Roboto";
	margin: 0;
	padding: 0;
}

form {
	display: block;
	float: right;
	width: 100%;
	@media (min-width: 800px) {
		width: 50%;
		div {
			-moz-column-count: 2; 
			-moz-column-gap: 0.75em;
			-webkit-column-count: 2;
			-webkit-column-gap: 0.75em;
			column-count: 2;
			column-gap: 0.75em;
		}
	}
	input, label, textarea {
		border: none;
		box-sizing: border-box;
		display: block;
		font: 1.0em/1.5 "Roboto";
		margin: 0;
		outline: none;
		padding: 0.75em 0 0 0;
		width: 100%;
	}
	input, textarea {
		background-color: lighten(config(primary),50%);
		padding: 0.75em;
		margin-top: 0.75em;
		&:focus {
			background-color: lighten(config(primary),75%);
		}
	}
	input[type="submit"] {
		border-radius: 0.5em;
		margin: 3.0em 0 1.5em 0;
		&:hover {
			background-color: lighten(config(primary),75%);
		}
	}
}

p {
	margin: 0 0 1.5em 0;
}

header {
//	color: lighten(config(subordinate),10%);
	h1 {
		background: center left url("/zaphod/images/logo.svg") no-repeat;
		background-size: contain;
		color: config(primary);
		float: left;
		margin: 0.1em 0;
		padding: 0.65em 0 0.65em 3.0em;
		font: 1.0em/1.5 "Roboto Slab";
		font-weight: bold;
	}

	// Menu!
	//	Both!
	label {
		&[for="topmenu"] {
			a {
	//			General link styling.
				color: config(primary);
				display: block;
				padding: 0.75em 1.0em;
				text-decoration: none;
				&:hover {
					background-color: lighten(config(subordinate),10%);
				}
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				white-space: nowrap;
				ul {
					background-color: lighten(config(subordinate),25%);
					height: 0;
					overflow: hidden;
				}
			}
		}
	}
	nav {
		@extend %clearfix;
		position: relative;
		input {
			display: none;
		}
	}

	//	Small screen.
	@media (max-width: 800px) {
		input:checked {
			& + label::before {
				content: 'Close \00a0 \2715'; // Close X
			}
			& + label ul {
				height: auto;
			}
		}
		label {
			&[for="topmenu"] {
				ul {
					background-color: lighten(config(subordinate),25%);
					clear: both;
					height: 0;
					overflow: hidden;
					li {
						border-top: 1px solid lighten(config(primary),50%);
					}
					ul a {
						padding-left: 2.0em;
					}
				}
				&::before {
					border: 0.1em solid config(primary);
					border-radius: 1.5em;
					color: config(primary);
					content: 'Menu \00a0 \2261'; // MENU =
					line-height: 2.3;
					margin: 0.25em;
					padding: 0 0.65em;
					position: absolute;
					right: 0;
					top: 0;
				}
			}
		}
	}

	//	Full screen.
	@media (min-width: 801px) {
		label[for="topmenu"] {
			li {
				&:hover {
					background-color: lighten(config(subordinate),25%);
					ul {
						height: auto;
					}
				}
			}
			ul {
				text-align: right;
				li {
					display: inline-block;
					position: relative;
					ul {
						left: auto;
						position: absolute;
						right: 0;
						text-align: left;
						li {
							display: block;
							float: none;
						}
					}
				}
			}
		}
	}
}
